@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #ec4899;
  --color-dark: #020617;
  --color-surface: #0f172a;
  
  --animate-blob: blob 7s infinite;
  
  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
}

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}
